body{
	text-align:center;
    background: linear-gradient(to bottom left, cyan, black, black, rgb(114, 205, 235), black, black, white);
    background-attachment: fixed;
    color: white;
}
body, #shuffle{
	font-family: 'Cinzel', serif;
	font-size:14pt;
}
div.center {
	padding-top: 50px;
	width:500px;
	height: 500px;
	background-color: black;
    margin: auto;
	border-radius: 50px;
	box-shadow: 2px 2px 8px 8px rgba(41, 41, 41, 0.582);
}

div.Bar {
    color: white;
    text-align: right;
}

a {
    color: white;
}

hr {
	width: 800px;
}

#puzzleGrid{
	width:400px;
	height:400px;
	position:relative;
	margin:0px auto;
}
.box{
	width:96px;
	height:96px;
    color: cyan;
	border:2px solid black;
	font-size:40pt;
	position:absolute;
	cursor:default;
	background-image: url(https://www.wallpapertip.com/wmimgs/67-677900_aesthetic-desktop-wallpaper-4k.jpg);
}

button {
	width: 120px;
	background-color: white;
	border: none;
	padding: 9px;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
}

button:hover {
	width: 130px;
	border: none;
	padding: 12px;
	display: inline-block;
	border-radius: 8px;
}

#solved{
	animation:blinkingText 1.2s infinite;
	font-weight:bold;
}

@keyframes blinkingText{
    0%{     color: white;}
    49%{    color: white;}
    60%{    color: cyan;}
    99%{    color: cyan;}
    100%{   color: white;}
}
