body{
	text-align:center;
    background: linear-gradient(to bottom left, cyan, black, red, black, 
												rgb(114, 205, 235), black,pink,  black, white);
    background-attachment: fixed;
    color: white;
}

body {
	font-size:14pt;
}

div.center {
	padding-top: 50px;
	width:500px;
	height: 500px;
	background-color: black;
    margin: auto;
	border-radius: 50px;
	box-shadow: 5px 10px 8px 8px rgba(41, 41, 41, 0.582);
}

div.about {
	padding: 50px;
	width:700px;
	background-color: black;
    margin: auto;
	border-radius: 50px;
	box-shadow: 5px 10px 8px 8px rgba(41, 41, 41, 0.582);
}

div.bar {
    color: white;
    text-align: right;
}

a {
    color: white;
}

b {
	color: cyan;
}

hr {
	width: 800px;
}

#puzzleGrid{
	width:400px;
	height:400px;
	position:relative;
	margin:0px auto;
}
.box{
	width:96px;
	height:96px;
    color: cyan;
	border:2px solid black;
	font-size:32pt;
	position:absolute;
	cursor:default;
	background-image: url(imgs/balalaika.jpg);
}

button {
	width: 120px;
	background-color: white;
	border: none;
	padding: 9px;
	font-size: 12pt;
	border-radius: 8px;
	box-shadow: 2px 4px 4px rgba(155, 148, 148, 0.726);
}

button:hover {
	font-size: 14pt;
}

#solved{
	animation:blinkingText 1.2s infinite;
	font-weight:bold;
}

@keyframes blinkingText{
    0%{     color: white;}
    49%{    color: white;}
    60%{    color: cyan;}
    99%{    color: cyan;}
    100%{   color: white;}
}
